php/lib/webservice.xml



<definitions name = "HelloService"
   targetNamespace = "http://localhost/stage/php/lib/webservice.xml"
   xmlns = "http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap = "http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:tns = "http://localhost/stage/php/lib/webservice.xml"
   xmlns:xsd = "http://www.w3.org/2001/XMLSchema">

   <message name = "supprimerUnLotParam">
      <part name = "idLot" type = "xsd:string"/>
   </message>
      
   <message name = "returnString">
      <part name = "ccRep" type = "xsd:string"/>
   </message>

   <message name = "saveImageParam">
      <part name = "idLot" type = "xsd:string"/>
      <part name = "imageString" type = "xsd:string"/>
   </message>

   <message name = "authentificationParam">
      <part name = "login" type = "xsd:string"/>
      <part name = "password" type = "xsd:string"/>
   </message>

   <message name = "saveCategorieEtValeurParam">
      <part name = "categorie" type = "xsd:string"/>
      <part name = "valeur" type = "xsd:string"/>
   </message>

   <message name= "creerLotParam">
      <part name = "idLot" type = "xsd:string"/>
      <part name = "ville" type = "xsd:string"/>
      <part name = "surface" type = "xsd:string"/>
      <part name = "loyer" type = "xsd:string"/>
      <part name = "typeDeBien" type = "xsd:string"/>
      <part name = "nombrePiece" type = "xsd:string"/>
      <part name = "description" type = "xsd:string"/>
      <part name = "informationsCommercial" type = "xsd:string"/>
      <part name = "plus" type = "xsd:anyType"/>
   </message>

   <portType name = "test_PortType">
      <operation name = "authentification">
         <input message = "tns:authentificationParam"/>
         <output message = "tns:returnString"/>
      </operation>
      <operation name = "saveImage">
         <input message = "tns:saveImageParam"/>
         <output message = "tns:returnString"/>
      </operation>
      <operation name = "creerLot">
         <input message = "tns:creerLotParam"/>
         <output message = "tns:returnString"/>
      </operation>
      <operation name = "supprimerUnLot">
         <input message = "tns:supprimerUnLotParam"/>
         <output message = "tns:returnString"/>
      </operation>
      <operation name = "supprimerLots">
         <output message = "tns:returnString"/>
      </operation>
      <operation name = "supprimerImages">
         <output message = "tns:returnString"/>
      </operation>
      <operation name="saveCategorieEtValeur">
         <input message = "tns:saveCategorieEtValeurParam"/>
         <output message = "tns:returnString"/>
      </operation>
   </portType>

   <binding name = "test_Binding" type = "tns:test_PortType">
      <soap:binding style = "rpc"
         transport = "http://schemas.xmlsoap.org/soap/http"/>

      <operation name = "saveImage">
         <soap:operation soapAction = "saveImage"/>
         <input>
            <soap:body
               encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
               namespace = "http://localhost/stage/php/lib/webservice.xml"
               use = "encoded"/>
         </input>
            
         <output>
            <soap:body
               encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
               namespace = "http://localhost/stage/php/lib/webservice.xml"
               use = "encoded"/>
         </output>
      </operation>
      <operation name = "creerLot">
         <soap:operation soapAction = "creerLot"/>
         <input>
            <soap:body
               encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
               namespace = "http://localhost/stage/php/lib/webservice.xml"
               use = "encoded"/>
         </input>
            
         <output>
            <soap:body
               encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
               namespace = "http://localhost/stage/php/lib/webservice.xml"
               use = "encoded"/>
         </output>
      </operation>
      <operation name = "supprimerLots">
         <soap:operation soapAction = "supprimerLots"/>
         <input>
            <soap:body
               encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
               namespace = "http://localhost/stage/php/lib/webservice.xml"
               use = "encoded"/>
         </input>
            
         <output>
            <soap:body
               encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
               namespace = "http://localhost/stage/php/lib/webservice.xml"
               use = "encoded"/>
         </output>
      </operation>
      <operation name = "authentification">
         <soap:operation soapAction = "authentification"/>
         <input>
            <soap:body
               encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
               namespace = "http://localhost/stage/php/lib/webservice.xml"
               use = "encoded"/>
         </input>
            
         <output>
            <soap:body
               encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
               namespace = "http://localhost/stage/php/lib/webservice.xml"
               use = "encoded"/>
         </output>
      </operation>
      <operation name = "supprimerImages">
         <soap:operation soapAction = "supprimerImages"/>
         <input>
            <soap:body
               encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
               namespace = "http://localhost/stage/php/lib/webservice.xml"
               use = "encoded"/>
         </input>
            
         <output>
            <soap:body
               encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
               namespace = "http://localhost/stage/php/lib/webservice.xml"
               use = "encoded"/>
         </output>
      </operation>
      <operation name = "saveCategorieEtValeur">
         <soap:operation soapAction = "saveCategorieEtValeur"/>
         <input>
            <soap:body
               encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
               namespace = "http://localhost/stage/php/lib/webservice.xml"
               use = "encoded"/>
         </input>
            
         <output>
            <soap:body
               encodingStyle = "http://schemas.xmlsoap.org/soap/encoding/"
               namespace = "http://localhost/stage/php/lib/webservice.xml"
               use = "encoded"/>
         </output>
      </operation>
   </binding>

   <service name = "test">
      <documentation>WSDL File for HelloService</documentation>
      <port binding = "tns:test_Binding" name = "test_Port">
         <soap:address
            location = "http://localhost/stage/php/lib/soap.php" />
      </port>
   </service>
</definitions>